.container
  h1 Our Inverstors!
  div#CINCO.row
    div.col-sm-6.col-md-6.col-lg-6
      h2 CINCO
      p The Communication Research Center, CINCO, is an institution of Nicaraguan civil society specialized in studies of communication, culture, democracy and public opinion, with special emphasis on the study of the media, its social and political role in the construction of democracy.
      a(href="//www.cinco.org.ni", target="_blank") Know more...
    div.col-sm-6.col-md-6.col-lg-6
  div#tecnolite.row
    div.col-sm-6.col-md-6.col-lg-6
    div.col-sm-6.col-md-6.col-lg-6
      h2 Tecno Lite Nicaragua S.A
