.container
  h1 Our Works!
  div#IEEPP.row
    div.col-sm-6.col-md-6.col-lg-6
      h2 Observatorio de violencias
      p Developed by the democratic security program of the institute of strategic studies and public policies (IEEPP for its acronym in Spanish, it is a platform of advocacy and action in which the generation of knowledge, advocacy, capacity building and the promotion of a public and critical opinion.
      a(href="#") Know more about the project...
    div.col-sm-6.col-md-6.col-lg-6
  div#voces.row
    div.col-sm-6.col-md-6.col-lg-6
    div.col-sm-6.col-md-6.col-lg-6
      h2 Voces contra la violencia
  div#pj-shield.row
    div.col-sm-6.col-md-6.col-lg-6
      h2 PJ Shield
    div.col-sm-6.col-md-6.col-lg-6
