.container
  h1 About us - Agile Shift I/O
  router-link(to="/") Home
  div
    h2 Who we are
    p A technological consulting company that seeks to contribute positively to society through the development of software and ICT projects for NGOs that are linked to personal security, political, economic, social and human rights promotion issues and Commercial Clients.
  div
    h2 From idea to final product
    p We look with critical thinking the best way to develop an idea from scratch that makes a notable impact on society, using design thinking to improve the way that our clients see us and implementing the best adaptable technologies to provide greater viability to our products.
  div
    h2 Our process
    p We build hand in hand with our clients by providing personalized assistance to ensure that product needs are met effectively.
  div
    h2 Our localhost
    h3 Clever minds for big ideas!
    div#team

