div.row
  div.col-sm-3.col-md-3.col-lg-3.no-padding#bg-1
    div#work
      h1 Work
  div.col-sm-3.col-md-3.col-lg-3.no-padding#bg-2
    div#contact
      h1 Contact
  div.col-sm-3.col-md-3.col-lg-3.no-padding#bg-3
    div#investors
      h1 Investors
  div.col-sm-3.col-md-3.col-lg-3.no-padding#bg-4
    div#company
      h1 Company
