div.hello
  h1 {{ msg }}
  p A technological consulting company with experience in management and development of social impact projects, focused on pragmatic and effective solutions.
  div.container
    ul
      li
        router-link.snapCursor(to="/" data-snap-scale="2.5") Home
      li
        router-link.snapCursor(to="/portfolio" data-snap-scale="2.5") Portfolio
      li
        router-link.snapCursor(to="/about" data-snap-scale="2.5") About us
      li
        router-link.snapCursor(to="/contact" data-snap-scale="2.5") Contact us

